root = true

[*.{c,cxx,h,hpp}]
# https://numpy.org/neps/nep-0045-c_style_guide.html
indent_size = 4
indent_style = space
max_line_length = 88
trim_trailing_whitespace = true

[*.{py,pyi,pxd}]
# https://peps.python.org/pep-0008/
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.py]
# Keep in sync with `tools/lint_diff.ini` and `tools/linter.py`
# https://pycodestyle.pycqa.org/en/latest/intro.html#configuration
max_line_length = 88

[*.pyi]
# https://typing.readthedocs.io/en/latest/guides/writing_stubs.html#style-guide
max_line_length = 130
