# doxygen required, use apt-get or dnf
sphinx>=4.5.0
numpydoc==1.4
pydata-sphinx-theme==0.13.3
sphinx-design
ipython!=8.1.0
scipy
matplotlib
pandas
breathe>4.33.0

# needed to build release notes
towncrier
