[atlas]
library_dirs = <location of ATLAS libraries>
atlas_libs = lapack, blas, cblas, atlas

[umfpack]
library_dirs = <location of libumfpack.a and libamd.a>
include_dirs = <location of umfpack.h>
umfpack_libs = umfpack, amd
