Cython
wheel==0.38.1
setuptools==59.2.0 ; python_version < '3.12'
setuptools         ; python_version >= '3.12'
hypothesis==6.81.1
pytest==7.4.0
pytz==2023.3
pytest-cov==4.1.0
meson
pytest-xdist
# for numpy.random.test.test_extending
cffi; python_version < '3.10'
# For testing types. Notes on the restrictions:
# - Mypy relies on C API features not present in PyPy
# NOTE: Keep mypy in sync with environment.yml
mypy==1.5.1; platform_python_implementation != "PyPy"
typing_extensions>=4.2.0
# for optional f2py encoding detection
charset-normalizer
