cython==0.29.21
wheel
setuptools<49.2.0
hypothesis==5.36.1
pytest==6.0.2
pytz==2020.1
pytest-cov==2.10.1
pickle5; python_version == '3.7'
pickle5; python_version == '3.6' and platform_python_implementation != 'PyPy'
# for numpy.random.test.test_extending
cffi
