Deferred and Superseded NEPs
----------------------------

.. toctree::
   :maxdepth: 1

{% for nep, tags in neps.items() if tags['Status'] in ('Deferred', 'Superseded') %}
   {{ tags['Title'] }} <{{ tags['Filename'] }}>
{% endfor %}
