=====================================
Roadmap & NumPy Enhancement Proposals
=====================================

This page provides an overview of development priorities for NumPy.
Specifically, it contains a roadmap with a higher-level overview, as
well as NumPy Enhancement Proposals (NEPs)—suggested changes
to the library—in various stages of discussion or completion (see `NEP
0 <nep-0000>`__).

Roadmap
-------
.. toctree::
   :maxdepth: 1

   The Scope of NumPy <scope>
   Current roadmap <roadmap>
   Wish list <https://github.com/numpy/numpy/issues?q=is%3Aopen+is%3Aissue+label%3A%2223+-+Wish+List%22>

Meta-NEPs (NEPs about NEPs or Processes)
----------------------------------------

.. toctree::
   :maxdepth: 1

{% for nep, tags in neps.items() if tags['Status'] == 'Active' %}
   {{ tags['Title'] }} <{{ tags['Filename'] }}>
{% endfor %}

   nep-template

Provisional NEPs (provisionally accepted; interface may change)
---------------------------------------------------------------

.. toctree::
   :maxdepth: 1

{% for nep, tags in neps.items() if tags['Status'] == 'Provisional' %}
   {{ tags['Title'] }} <{{ tags['Filename'] }}>
{% endfor %}


Accepted NEPs (implementation in progress)
------------------------------------------

.. toctree::
   :maxdepth: 1

{% for nep, tags in neps.items() if tags['Status'] == 'Accepted' %}
   {{ tags['Title'] }} <{{ tags['Filename'] }}>
{% endfor %}


Open NEPs (under consideration)
-------------------------------

.. toctree::
   :maxdepth: 1

{% for nep, tags in neps.items() if tags['Status'] == 'Draft' %}
   {{ tags['Title'] }} <{{ tags['Filename'] }}>
{% endfor %}



Finished NEPs
----------------

.. toctree::
   :maxdepth: 1

{% for nep, tags in neps.items() if tags['Status'] == 'Final' %}
   {{ tags['Title'] }} <{{ tags['Filename'] }}>
{% endfor %}

Deferred and Superseded NEPs
----------------------------

.. toctree::
   :maxdepth: 1

{% for nep, tags in neps.items() if tags['Status'] in ('Deferred', 'Superseded') %}
   {{ tags['Title'] }} <{{ tags['Filename'] }}>
{% endfor %}

Rejected and Withdrawn NEPs
---------------------------

.. toctree::
   :maxdepth: 1

{% for nep, tags in neps.items() if tags['Status'] in ('Rejected', 'Withdrawn') %}
   {{ tags['Title'] }} <{{ tags['Filename'] }}>
{% endfor %}

