Open NEPs (under consideration)
-------------------------------

.. toctree::
   :maxdepth: 1

{% for nep, tags in neps.items() if tags['Status'] == 'Draft' %}
   {{ tags['Title'] }} <{{ tags['Filename'] }}>
{% endfor %}
