[workspace]
channels = ["https://prefix.dev/conda-forge"]
platforms = ["osx-arm64", "linux-64"]
preview = ["pixi-build"]

[package.build]
source.path = "../.."

[package.build.backend]
name = "pixi-build-python"
version = "*"

[package.build.config]
extra-input-globs = ["**/*.c.src"]
compilers = ["c", "cxx"]
env.TSAN_OPTIONS = "halt_on_error=0:allocator_may_return_null=1:suppressions=../../tools/ci/tsan_suppressions.txt"
extra-args = ["-Csetup-args=-Db_sanitize=thread", "-Csetup-args=-Dbuildtype=debug"]

[package.host-dependencies]
python.git = "https://github.com/crusaderky/cpython"
python.subdirectory = "Tools/pixi-packages/tsan"
python.rev = "eb0149f0b830651bffe757126f9d699859aa0fda"

meson-python = "*"
cython = "*"
uv = "*" # used to invoke the wheel build