[workspace]
channels = ["https://prefix.dev/conda-forge"]
platforms = ["osx-arm64", "linux-64"]
preview = ["pixi-build"]

[package.build]
source.path = "../.."

[package.build.backend]
name = "pixi-build-python"
version = "*"

[package.build.config]
extra-input-globs = ["**/*.c.src"]
compilers = ["c", "cxx"]
env.TSAN_OPTIONS = "halt_on_error=0:allocator_may_return_null=1"
extra-args = ["-Csetup-args=-Db_sanitize=thread", "-Csetup-args=-Dbuildtype=debug"]

[package.host-dependencies]
python.git = "https://github.com/ngoldbaum/cpython"
python.subdirectory = "Tools/pixi-packages/tsan-free-threading"
python.rev = "39df6fe96a2da23b09a7f8930eff0cb1f9259862"
meson-python = "*"
cython = "*"
uv = "*" # used to invoke the wheel build