/*LOADER*/
.bg_loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #4dabcf;
    z-index: 9999;
    width: 100%;
    height: 100%;
    display: none;
}

.loader {
    position: absolute;
    z-index: 10000;
    width: 30px;
    height: 30px;
    top: 50%;
    left: 50%;
    margin: -15px 0 0 -15px;
    border: 3px solid #fff;
    opacity: 0;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    -webkit-animation: loader 2s ease-out;
    animation: loader 2s ease-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes loader {
    0% {
        -webkit-transform: scale(0.1);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1.2);
        opacity: 0;
    }
}

@keyframes loader {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}