.sidebar-right{
  background: #efefef;
  height: auto;
  display: block;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* Styles */
.sidebar-right{
  display: none;
}

}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* Styles */
.sidebar-right{
  display: none;
}


}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* Styles */
.sidebar-right{
  display: none;
}


}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* Styles */
.sidebar-right{
  display: none;
}


}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
/* Styles */
.sidebar-right{
  display: none;
}


}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
/* Styles */
.sidebar-right{
  display: none;
}


}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* Styles */
.sidebar-right{
  background: #efefef;
  height: auto;
  display: block;
}

}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* Styles */
.sidebar-right{
  background: #efefef;
  height: auto;
  display: block;
}

}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */



}

/*###Desktops, big landscape tablets and laptops(Large, Extra large)####*/
@media screen and (min-width: 1024px){
/*Style*/

}

/*###Tablet(medium)###*/
@media screen and (min-width : 768px) and (max-width : 1023px){
/*Style*/

}

/*### Smartphones (portrait and landscape)(small)### */
@media screen and (min-width : 0px) and (max-width : 767px){
/*Style*/


}