# doxygen required, use apt-get or dnf
sphinx==7.2.6
numpydoc==1.4
pydata-sphinx-theme>=0.15.2
sphinx-copybutton
sphinx-design
scipy
matplotlib!=3.10.6
pandas
breathe>4.33.0
ipython!=8.1.0
# Needed for ipython>=8.17
# https://github.com/ipython/ipython/issues/14237
pickleshare

# needed to build release notes
towncrier
toml

scipy-doctest>=1.8.0

# interactive documentation utilities
# see https://github.com/jupyterlite/pyodide-kernel#compatibility
jupyterlite-sphinx>=0.18.0
# Works with Pyodide 0.27.1
jupyterlite-pyodide-kernel==0.5.2
