# Any packages which appear both here and in the pyproject.toml test-requires should be
# kept in sync.

Cython
hypothesis==6.155.7
pytest==9.1.1
pytest-cov==7.1.0
meson
ninja; sys_platform != "emscripten"
pytest-xdist
pytest-timeout
# for optional f2py encoding detection
charset-normalizer
tzdata
# Ensure we install quaddtype in CI for some wheel setups (mac):
numpy_quaddtype ; python_version<"3.15" and sys_platform=="darwin"
